<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>

<% if current_user.present? %>
  <div>
    <p>Name: <%= current_user.name %></p>
    <p>Name: <%= current_user.email %></p>
    <p>Name: <%= image_tag current_user.image %></p>
  </div>
<% end %>
